<!DOCTYPE html>
<html>
	<%- include('head') %>
	<body>
		<header><h1>Sorry, that didn't work</h1></header>
		<main>
			<p>(some error text)</p>
			<p><a href="auth" class="button">Try Again</a></p>
			<p>If this keeps happening, please yell at whoever sent you here</p>
		</main>
	</body>
</html>
