<!DOCTYPE html>
<html>
	<%- include('head') %>
	<body>
		<header><h1>Spice Bot 🌶️</h1></header>
		<main>
			<h2>You're all set</h2>
			<p>Spice Bot is authorized to <code>ybbaaabby</code> on Twitch</p>
			<p><a href="unlink">Sign out</a></p>
		</main>
	</body>
</html>
